//$navbar-transluscent-blue: rgba(51, 102, 255, 0.5);
$navbar-transluscent-blue: rgba(51, 102, 153, .9);
$navbar-white: #ffffff;
$navbar-default-bg:                #f8f8f8 !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

//Default navbar behavior
.navbar-default {
  background-color: $navbar-transluscent-blue;
  border-color: $navbar-transluscent-blue;
  border-radius: 0px;

  .navbar-brand {
    color: $navbar-white;
  }

  .navbar-text {
    color: $navbar-white;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-white;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }
}
