<md-dialog aria-label="Contact us!"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Contact Us!</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <form name="userForm" class="user-form">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <md-icon>face</md-icon>
                    <input ng-model="message.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <md-icon>email</md-icon>
                    <input ng-model="message.email">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Phone</label>
                    <md-icon>phone</md-icon>
                    <input name="phone" ng-model="message.phone" ng-pattern="/^([0-9]{3}) [0-9]{3}-[0-9]{4}$/" />
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>I am a:</label>
                    <md-icon>list</md-icon>
                    <md-select ng-model="message.type">
                        <md-option ng-repeat="type in types" value="{{type}}">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Message</label>
                    <md-icon>message</md-icon>
                    <textarea ng-model="message.body" columns="1" md-maxlength="250" rows="8"></textarea>
                </md-input-container>
            </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="submit()" style="margin-right:20px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
