<!-- HEADER -->
<md-toolbar class="header-toolbar" layout="row">
    <div class="md-toolbar-tools" tabindex="0">
        <div class="edpanel-logo" flex="none" ng-click="goToHome()"></div>
        <span flex></span>
        <md-button class="md-raised md-secondary" href="/ui/login">demo</md-button>
        <md-button id="contact-us" class="md-raised md-primary" ng-click="showContactForm($event)">Contact Us</md-button>
    </div>
</md-toolbar>
<md-content flex layout-fill layout="column">
    <div style="position:absolute; top:0; bottom:0; left:0; right:0; color:white;" ui-view>
        <!-- BODY -->
        <!-- FOOTER-->
        <!--<div ng-if="UAService.isChrome || UAService.isIE || UAService.isAndroid" class="product-footer" layout layout-align="start center">-->
            <!--<div class="edpanel-logo" flex="none"></div>-->
            <!--<div flex></div>-->
            <!--<div flex="none"layout="row" layout-align="center center">-->
                <!--<md-button class="md-primary" ng-href="http://myedpanel.com/about" target="_blank">About Us</md-button>-->
                <!--<md-button class="md-primary" ng-href="http://myedpanel.com/privacy" target="_blank">Privacy</md-button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</md-content>