<!-- HEADER -->
<md-toolbar class="header-toolbar" layout="row">
    <div class="md-toolbar-tools" tabindex="0">
        <div class="edpanel-logo" flex="none" ng-click="goToHome()"></div>
        <span flex></span>
        <md-button class="md-raised md-secondary" href="/ui/login">demo</md-button>
        <md-button id="contact-us" class="md-raised md-primary" ng-click="showContactForm($event)">Contact Us</md-button>
    </div>
</md-toolbar>
<md-content flex layout="column" layout-fill>
    <div style="position:absolute; top:0; bottom:0; left:0; right:0; color:white;" ui-view></div>
</md-content>