<div class="product-footer" layout layout-wrap layout-align="start center">
    <div class="edpanel-logo" flex="none" ng-click="goToHome()"></div>
    <div flex></div>
    <div flex="none"layout="row" layout-align="center center">
        <md-button class="md-raised md-secondary" ng-href="http://myedpanel.com/ui/login">demo<md-tooltip>contact us for credentials</md-tooltip></md-button>
        <md-button class="md-primary" ng-click="goToAbout()" target="_blank">About Us</md-button>
        <md-button class="md-primary" ng-click="goToPrivacy()" target="_blank">Privacy</md-button>
    </div>
</div>