<div class="about" flex layout="column">
    <div layout="column" layout-align="center start">
        <div flex layout-fill class="md-display-2">EdPanel: Putting data to work for schools</div>
        <div class="subpoint md-subhead">
            Using data to improve student performance is a widespread aspiration of
            educators today. But it’s easier said than done. Schools typically use multiple
            software platforms to gather data on various aspects of student performance:
            attendance, behavior, grades, test scores, etc. None of these platforms talk to one
            another. Most do not provide easy ways for teachers and administrators to figure
            out ways to help students succeed. The data is there – it’s just not useful.
        </div>
        <div class="subpoint md-subhead">
            That’s where EdPanel comes in. EdPanel pulls data from student information
            systems, behavior management systems, state exams, and other sources and puts
            that data to work. Administrators are alerted to key trends, teachers are
            prompted to take timely action, and students take control of their own learning.
            With EdPanel, data is not a compliance burden or a set of disconnected metrics,
            but an essential tool for achieving educational success.
        </div>
        <div flex layout-fill class="md-display-1">EdPanel Makes Data-Driven Decision-Making Easy</div>
        <div class="subpoint md-subhead">
            With EdPanel, there’s no need to spend hours trying to access and make sense of the
            data in student information systems and other cumbersome platforms when you should
            be putting your energy into making plans based on what the data tells you.
        </div>
        <div class="subpoint md-subhead">
            EdPanel synchronizes data from SIS, behavior management systems, state exams, and
            other sources and puts that data at your fingertips with easy-to-use reports,
            visualizations, and decision-support tools.
        </div>
        <div class="subpoint md-subhead">
            EdPanel is easy to customize, so you can focus your attention on the student data that
            can help you meet your school’s educational goals.
        </div>
        <div flex layout-fill class="md-display-1">EdPanel Makes Every School Data-Driven</div>
        <div class="subpoint md-subhead">
            Schools are complex environments. Teachers and administrators manage that
            complexity by creating routines. EdPanel brings data into the day-to-day routine of
            educators.
        </div>
        <div class="subpoint md-subhead">
            EdPanel sends alerts to teachers and administrators when there’s something they need
            to know: quiz grades showing that a group of students is heading off track and in need
            of intervention; a struggling student reaching his achievement goal and in need of
            positive reinforcement.
        </div>
        <div class="subpoint md-subhead">
            By giving educators the right information at the right time, EdPanel makes teachers and
            administrators more effective, and more efficient, in their daily interactions with
            students.
        </div>
        <div flex layout-fill class="md-display-1">EdPanel Helps Students Learn How to Succeed</div>
        <div class="subpoint md-subhead">
            EdPanel helps students manage their own learning. Students get a dashboard that
            shows how they are doing across all the measures their school deems important.
            Students can set goals, see how they are progressing, and, in consultation with teachers
            or advisors, make adjustments to stay on track.
        </div>
        <div class="subpoint md-subhead">
            EdPanel helps students see, through graphs and other visualizations, how their efforts
            correlate with success. Just as important, EdPanel can identify any divergence between
            effort and achievement – such as high grades on homework not resulting in high grades
            on quizzes and tests – in time to make corrections before discouragement sets in.
        </div>
        <div class="subpoint md-subhead">
            EdPanel helps teachers provide the right feedback to students at the right time. EdPanel
            can notify teachers, advisors, and administrators of events that deserve feedback and,
            with its online tools, make giving timely feedback easy.
        </div>
        <div class="subpoint md-subhead">
            EdPanel gives students a voice. With its built-in survey feature, EdPanel makes it easy to
            gather student opinion on school culture, atmosphere, and routines, empowering
            students to make their voices heard and flagging for educators issues that need to be
            addressed.
        </div>
    </div>
    <div flex layout="column" layout-align="center center">
        <div class="md-display-2">EdPanel Team</div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('https://avatars2.githubusercontent.com/u/2834601?v=3&s=230');"></div>
        <div class="team-member-bio md-subhead">Mark Roper conceived of EdPanel over a series of conversations with his wife Nina Keough, who founded Excel Academy High School in Boston in 2015. Mark was formerly a full stack staff engineer at Intuit and loves being involved in engineering and the business.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead">Jordan Winch got his CS masters from Northeastern and was a staff software engineer at Intuit working in mobile payments. He is our mobile expert, leads security and deployment automation and works on the core application.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/jordan2.png');"></div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('https://d1qb2nb5cznatu.cloudfront.net/users/1560141-medium_jpg?1449948167');"></div>
        <div class="team-member-bio md-subhead">Ted Morton studied business and finance at the University of Massachusetts and works in startup valuation at Wellington Management. He drives our strategy, operations and business development.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead">Chris Wallace is a junior at Olin College of Engineering where he studies the computer.  He is working part-time full-stack engineering at EdPanel and is also helping out with product.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/cwallac.png');"></div>
    </div>
    <edpanelfooter></edpanelfooter>
</div>