<div class="about" flex layout="column">
    <div flex layout="column" layout-align="center center">
        <div class="md-display-2">Our Team</div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('https://avatars2.githubusercontent.com/u/2834601?v=3&s=230');"></div>
        <div class="team-member-bio md-subhead">Mark Roper conceived of EdPanel through a series of conversations with his wife Nina Keough, who founded Excel Academy High School in Boston in 2015. Mark is a full stack staff engineer at Intuit and loves being involved in engineering and the business.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead">Jordan Winch got his CS masters from Northeastern and is a staff software engineer at Intuit working in mobile payments. He is our mobile expert, leads security and deployment automation and works on the core application.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/jordan2.png');"></div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('https://d1qb2nb5cznatu.cloudfront.net/users/1560141-medium_jpg?1449948167');"></div>
        <div class="team-member-bio md-subhead">Ted Morton studied business and finance at the University of Massachusetts and works in startup valuation at Wellington Management. He drives our strategy, operations and business development.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead">Matt studied CS at WPI and is a principal software engineer at Intuit. Matt works on the design and implementation of our core application and database. He is also married to a teacher, Abigail!</div>
        <div flex="none" class="team-member-face" layout layout-align="center center">Matt Greenwood</div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/cwallac.png');"></div>
        <div class="team-member-bio md-subhead">Chris is a junior at Olin College of Engineering where he studies the computer.  He is working part-time full-stack at EdPanel and is also helping out with product management.</div>
    </div>
    <edpanelfooter></edpanelfooter>
</div>