.about {
  .md-display-1 {
    color: $large-font-gray;
  }
  .team-member-face {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 8px solid $off-white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F44336;
    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-top:25px;
  }
  .subpoint {
    margin-top:20px;
    margin-bottom:20px;
    margin-left:40px;
    margin-right:40px;
    text-align:left;
    color: $small-font-gray;
  }
  .team-member-bio {
    margin-top:25px;
    margin-bottom:25px;
    max-width:750px;
    color: $small-font-gray;
  }
}