<div class="about" flex layout="column">
    <div flex layout="column" layout-align="center center">
        <div class="md-display-2">The EdPanel Team</div>
    </div>

    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead"><b>Sue Goldberger, Senior Advisor -
        </b>Sue is an experienced social entrepreneur and business development executive. In addition to 25 years in the non-profit sector leading K-12 district and state-level education reform efforts,she has spearheaded the education technology division at Burning Glass Technologies since 2010 and serves as a senior advisor to EdPanel.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/sue.jpg');"></div>
    </div>

    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/MarkAndNina.jpg');"></div>
        <div class="team-member-bio md-subhead"><b>Mark Roper, Founder & CEO -</b> Mark has 10 years' experience building cloud database and analytics platforms, at Intuit and elsewhere. His wife Nina, opening a new high school in Boston in 2015, could not find a solution for using data to improve student performance. Mark recruited the team and together they've built EdPanel.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead"><b>Jordan Winch, Founder & CTO -</b> Jordan is an experienced Java, mobile, and cloud security expert having led mobile android payments and cloud security at Intuit for many years. He leads security and deployment automation and the development of the core EdPanel application.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/jordan2.png');"></div>
    </div>
    <div layout layout-align="center center">
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('https://d1qb2nb5cznatu.cloudfront.net/users/1560141-medium_jpg?1449948167');"></div>
        <div class="team-member-bio md-subhead"><b>Ted Morton, Founder -</b> Ted is an experienced international business and finance professional. His expertise is in private company and startup valuation at Wellington Management. He drives our strategy, financial modeling, operations and operations.</div>
    </div>
    <div layout layout-align="center center">
        <div class="team-member-bio md-subhead"><b>Chris Wallace, Engineering & Product -</b> Chris is a junior at Olin College of Engineering where he studies computer science.  He is working part-time across the stack as an engineer at EdPanel and is also helping out with product.</div>
        <div flex="none" class="team-member-face" layout layout-align="center center" style="background-image: url('../../../assets/images/cwallac.png');"></div>
    </div>
    <edpanelfooter></edpanelfooter>
</div>