$off-white:#DCEDC8;
$large-font-gray: #4A4A4A;
$small-font-gray: #666666;

*:focus {
  outline: none;
}
.header-toolbar {
  background-color: #F1F8E9 !important;
}
.edpanel-logo {
  height: 30px;
  width: 125px;
  background-size: 100%;
  background: url('../assets/images/edpanel.svg');
  cursor: pointer;
}
.md-display-2 {
  color: $large-font-gray;
}
.md-headline, .md-title {
  color: $small-font-gray;
}
// injector
@import '../components/directives/footer/edpanelfooter.scss';
@import '../components/routecontrollers/about/about.scss';
@import '../components/routecontrollers/land/land.scss';
@import '../components/routecontrollers/privacy/privacy.scss';
@import '../components/routecontrollers/root/root.scss';
// endinjector
