$off-white:#DCEDC8;

*:focus {
  outline: none;
}
.product-footer {
  background-color: $off-white;
  padding: 45px 0px 45px 0px;
  a {

  }
}
.header-toolbar {
  background-color: #F1F8E9 !important;
}
.edpanel-logo {
  height: 30px;
  width: 136px;
  background-size: 100%;
  background: url('../assets/images/edpanel.svg');
  cursor: pointer;
}
// injector
@import '../components/routecontrollers/land/land.scss';
@import '../components/directives/attendancetable/attendancetable.scss';
// endinjector
