<div class="land" flex layout="column" layout-fill >
  <div class="jumbotron" flex layout-fill layout="row" layout-align="left end">
    <div flex="5"></div>
    <div class="bottom-text">
      <div layout="row" layout-align="left center">
        <div><md-icon md-font-set="material-icons md-48">check</md-icon></div><h1 style="font-size: 80px !important; line-height: 80px; font-weight:300; color:#E6E6E6;">The right data</h1>
      </div>
      <div layout="row" layout-align="left center">
        <div><md-icon md-font-set="material-icons md-48">check</md-icon></div><h1 style="font-size: 80px !important; line-height: 80px; font-weight:300; color:#E6E6E6;">The right time</h1>
      </div>
      <div layout="row" layout-align="center center">
        <div><md-icon md-font-set="material-icons md-48">check</md-icon></div><h1 style="font-size: 80px !important; line-height: 80px; font-weight:400; ">Student success</h1>
      </div>
      <md-button ng-click="showDemo($event)" id="video-button" class="md-cornered md-primary md-raised">Watch our demo</md-button>
    </div>
  </div>
</div>
      <div class="content-section section-two slider-content" layout="column" layout-align="space-between center">
        <div layout layout-align="center center">
          <h1 class="md-display-2">Alerting educators when they need to know</h1>
        </div>
        <div class="consolidate-detail" layout-wrap layout="row" layout-align="center center">
          <div flex="100" layout="column" class="consolidate-explain align-center" layout-wrap="">
            <div class="md-headline" style="margin-bottom: 75px; text-align:center; max-width:900px;">
              Quiz grades show a group of students is heading off track and in need of intervention. A struggling student boosts his homework grade or attendance and deserves praise to stay motivated. A 9th grade class shows a boost in math scores following the introduction of new instructional supports.</li>
            </div>
          </div>
        </div>
      </div>

      <div class="even content-section section-three slider-content" layout="column" layout-align="space-around center">
        <h1 class="md-display-2" style="margin-bottom:0px;">Analysis and answers one click away</h1>
        <div class="consolidate-detail" layout-wrap layout="row" layout-align="center center">
          <div flex="100" flex-gt-sm="33" layout layout-align="center center">
            <div class="consolidate"></div>
          </div>
          <div flex="100" flex-gt-sm="66" layout="column" class="consolidate-explain align-center" layout-wrap="">
            <span class="md-headline"> EdPanel synchronizes data across systems in the school and
            puts a complete picture of student and school performance at your fingertips with easy-to-use
            reports, visualizations, and decision-support tools.</span>
          </div>
        </div>
      </div>
      <div class="content-section section-three slider-content" layout-wrap layout="row" layout-align="center center">
        <div class="margin-wrapper" flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
          <h1 class="md-display-2" style="margin-top:0px;">Plug-and-play solution, no costly data services</h1>
          <div flex layout layout-align="center center">
            <div flex="100" layout layout-wrap layout-align="center center"><span class="md-headline goals-description">
             EdPanel comes ready to use with no costly database integration or management services required. EdPanel also eliminates the need for dedicated data analysts by making it easy for educators to get the customized reports they need.</span></div>
          </div>
        </div>
        <div flex="100" flex-gt-sm="50" class="section-overview"></div>
      </div>
      <div class="even content-section section-three performance-over-time slider-content" layout="column" layout-align="center center">
        <div class="trends-over-time" layout="column" layout-align="space-between center">
          <h1 class="md-display-2">For parents and students too</h1>
          <div class="md-headline" style="max-width:950px; padding-bottom:20px;">
            <p>EdPanel helps parents support their children’s success by alerting them to accomplishments that deserve praise as well as performance issues that need support.</p>
            <p>EdPanel helps students learn how to succeed with a dashboard that let’s them see their performance, set goals, track progress, and receive praise and feedback.</p>
          </div>
          <div class="face-container" layout="row" layout-wrap layout-align="center center">
            <div layout="column">
              <div class="face-circle" layout="row" layout-align="center center">
              <div class="face student"></div>
              </div>
              <div class="md-title">students</div>
            </div>
            <div layout="column">
              <div class="face-circle" layout="row" layout-align="center center">
              <div class="face teacher"></div>
              </div>
              <div class="md-title">teachers</div>
            </div>
            <div layout="column">
              <div class="face-circle" layout="row" layout-align="center center">
              <div class="face admin"></div>
              </div>
              <div class="md-title">admins</div>
            </div>
            <div layout="column">
              <div class="face-circle" layout="row" layout-align="center center">
              <div class="face parent"></div>
              </div>
              <div class="md-title">parents</div>
            </div>
          </div>
        </div>
        </div>
      </div>
<edpanelfooter></edpanelfooter>